:root {
    --letterboxdOrange: #ef8733;
    --letterboxdGreen: #66dd67;
    --letterboxdBlue: #66b9ef;
    --letterboxdBackground: rgb(25, 25, 30);
    --currentBackground: rgb(46, 52, 63);
    --searchbarBackground: rgb(220, 220, 220);
    --searchbarText: rgb(110, 120, 140);
    --movieListText: white;
}

@font-face {
    font-family: 'LetterBoxdFont';
    src: url('sharp-grotesk-smbold-20-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'LetterBoxdFont';
    background-color: var(--currentBackground);
}

#search-row {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px auto;
    max-width: fit-content;
}

#search {
    background-color: var(--searchbarBackground);
    color: var(--searchbarText);
    margin-right: 10px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
}

#search::placeholder {
    color: var(--searchbarText);
}

.movie-list {
    list-style-type: none;
    color: var(--movieListText);
    max-width: fit-content;
    margin: auto;
}

.movie-list li {
    padding: 10px;
    width: fit-content;
    margin: auto;
}

.movie-list li:hover {
    background-color: rgb(20, 20, 25);
    width: fit-content;
}

img {
    display: block;
    margin-top: 20px;
    max-width: 100%;
}

#reviewContainer {
    margin: 10px auto;
    max-width: fit-content;
}

#textDisplay,
#allButtons {
    max-width: fit-content;
    margin: 0 auto; 
    text-align: center; 
}

#textDisplay {
    padding-bottom: 10px;
}

#imageButtons button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

#imageButtons button.active {
    background-color: rgba(255, 255, 255, 0.2); 
    color: black; 
}