:root {
    --letterboxdOrange: #ef8733;
    --letterboxdGreen: #66dd67;
    --letterboxdBlue: #66b9ef;
    --letterboxdBackground: rgb(25, 25, 30);
    --bonewhite: rgb(249, 246, 238);

    --currentBackground: rgb(46, 52, 63);
    --searchbarBackground: var(--bonewhite);
    --searchbarText: rgb(100, 110, 130);
    --movieListText: var(--bonewhite);
    --activeButtonBackground: var(--letterboxdBackground);
    --activeButtonText: var(--bonewhite);
    --inactiveButtonBackground: transparent;
    --inactiveButtonText: rgb(150, 170, 190);
    --movieHoverBackground: var(--letterboxdBackground);
}

@font-face {
    font-family: 'LetterBoxdFont';
    src: url('sharp-grotesk-smbold-20-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'LetterBoxdFont';
    background-color: var(--currentBackground);
}

#multi-button {
    font-family: 'LetterBoxdFont';
    background-color: transparent;
    color: var(--bonewhite);
    outline: none;
    border: none;
}

#multi-button:hover {
    color: var(--letterboxdBackground);
}

#search-row {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px auto;
    max-width: fit-content;
}

#search {
    font-family: 'LetterBoxdFont';
    background-color: var(--searchbarBackground);
    color: var(--searchbarText);
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
}

#search::placeholder {
    color: var(--searchbarText);
}

.movie-list {
    padding-left: 0;
    list-style-type: none;
    color: var(--movieListText);
    max-width: fit-content;
    margin: auto;
}

.movie-list li {
    font-size: 18px;
    padding: 10px;
    width: fit-content;
    margin: auto;
}

.movie-list li:hover {
    font-size: 20px;
    background-color: var(--movieHoverBackground);
    width: fit-content;
}

img {
    display: block;
    margin-top: 20px;
    max-width: 100%;
}

#reviewContainer {
    margin: 10px auto;
    max-width: fit-content;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
}

#textDisplay,
#allButtons {
    margin: 0 auto;
    text-align: center;
}

#textDisplay {
    margin-top: 10px;
    font-size: 20px;
    max-width: 740px;
}

#allButtons {
    max-width: fit-content;
    align-items: center;
    display: flex;
}

#imageButtons {
    margin-right: 30px;
}


#imageButtons button {
    font-family: 'LetterBoxdFont';
    background-color: var(--inactiveButtonBackground);
    color: var(--inactiveButtonText);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#imageButtons button.active {
    background-color: var(--activeButtonBackground);
    color: var(--activeButtonText);
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem; /* MUST BE SAME AS HEIGHT OF FOOTER */
}

#footer {
    width: 100%;
    height: 2.5rem; /* MUST BE SAME AS PADDING-BOTTOM OF CONTENT WRAP */
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--letterboxdBackground);
    color: var(--bonewhite);
    display: flex;
    align-items: center;
    justify-content: center; 
}

#footerItem,
#footerIcon {
    padding-left: 8px;
    padding-right: 8px;
}

#footerIcon {
    font-size: 1.3rem;
    color: #6e5494;
}

.fa-brands.fa-github:hover {
    color: var(--bonewhite);
}

.footer-image {
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0px;
}

.footer-image:hover {
    color: var(--bonewhite);
}

#movie_poster {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center; 
}
